[submodule "node_modules/node-xmpp"]
	path = node_modules/node-xmpp
	url = git://github.com/astro/node-xmpp.git
[submodule "node_modules/node-expat"]
	path = node_modules/node-expat
	url = git://github.com/astro/node-expat.git
